/* src/components/Header.css */
.UpcomingEvents {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 60px;
    color: #D1432D; /* Orange color */
  }
  
  .UpcomingEvents {
    color: #0A3D91; /* Blue color */
    font-size: 40px;
  }
  