
div.vtshubheader {
    background-color: rgb(255, 138, 71);
    text-align: center;
}

div.vtshubheader button {
    width: 24%;
    height: 50px;
    margin: 5px;
    border-width: 1px;
    border-color: black;
}

div.vtshubheader button a {
    display: block;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

div.vtsactionbar {
    background-color: rgb(229, 88, 0);
    border-top: 0px;
}

div.vtsactionbar button {
    width: 15%;
    height: 20px;
    margin: 10px;
    border-width: 1px;
    border-color: black;
}

div.vtsactionbar button a {
    display: block;
    height: 15px;
    padding-top: 0px;
    text-wrap: nowrap;
}
