/* src/App.css */
.App {
  text-align: center;
}

.topBar {
  color: rgb(11, 0, 161);
}

.button-container {
  margin-top: 20px;
}

.event-item a {
  color: blue;
}

.event-item a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  background-color:rgb(255, 138, 71)
}

.flex-item {
  flex: 1;
  padding: 10px;
  color: rgb(11, 0, 161);
}

.vtsuser {
  text-align: right;
}