/* src/App.css */
.App {
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.event-item a {
  color: blue;
}

.event-item a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
}

.vtsuser {
  text-align: right;
}